<section class="content">
    <div class="row">
      <!-- left column -->
  
      <div class="col-md-6">
        <!-- general form elements disabled -->
        <div class="box box-warning">
          <div class="box-header">
            <h3 class="box-title">Them moi sach </h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <form role="form">
              <!-- text input -->
              <div class="form-group">
                <label>Ten</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
             

              <!-- textarea -->
              <div class="form-group">
                <label>Anh</label>
              <input #fileInput type="file" class="form-control">
              </div>

              <div class="form-group">
                <label>The loai</label>
                <select class="form-control">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                  <option>option 5</option>
                </select>
              </div>

              <div class="form-group">
                <label>Tac gia</label>
                <select class="form-control">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                  <option>option 5</option>
                </select>
              </div>

              <div class="form-group">
                <label>Nam xuat ban</label>
                <input type="date" class="form-control" placeholder="Enter ...">
              </div>

              <div class="form-group">
                <label>Nha xuat ban</label>
                <select class="form-control">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                  <option>option 5</option>
                </select>
              </div>

              <div class="form-group">
                <label>Ma isbn</label>
                <input type="number" class="form-control" placeholder="Enter ...">
              </div>

              <div class="form-group">
                <label>Giay phep</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!--/.col (right) -->
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title"></h3>
          </div><!-- /.box-header -->
          <!-- form start -->
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
            </div><!-- /.box-body -->
          </form>
        </div>


      </div>
    </div>   <!-- /.row -->
  </section>