<div class="row col-sm-9" style="margin-bottom: 50px;">
  <div class="col-sm-4 col-sm-offset-1">
    <div class="login-form">
      <!--login form-->
      <h2>Đăng nhập tài khoản</h2>
      <div *ngIf="message" class="danger text-danger">{{message}}</div>
      <form [formGroup]="homeFormLogin" (ngSubmit) = "checkLogin()">
        <input type="email" placeholder="Địa chỉ email" formControlName="email" />
        <div class="validation-login"
          *ngIf="homeFormLogin.controls.email?.errors?.required && homeFormLogin.controls.email?.touched">
          Email không được để trống!
        </div>
        <div class="validation-login"
          *ngIf="homeFormLogin.controls.email?.errors?.email && homeFormLogin.controls.email?.touched">
          Email không đúng định dạng!
        </div>
        <input type="password" formControlName="password" placeholder="Mật khẩu" />
        <div class="validation-login" style="margin-bottom: 15px;"
          *ngIf="homeFormLogin.controls.password?.errors?.required && homeFormLogin.controls.password?.touched">
          Mật khẩu không được để trống!
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!homeFormLogin.valid">Đăng nhập</button>
      </form>
    </div>
    <!--/login form-->
  </div>
  <div class="col-sm-1">
    <h2 class="or">Hoặc</h2>
  </div>
  <div class="col-sm-4">
    <div class="signup-form">
      <!--sign up form-->
      <h2>Đăng ký tài khoản mới</h2>
      <form action="#">
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email Address" />
        <input type="password" placeholder="Password" />
        <button type="submit" class="btn btn-success">Đăng ký</button>
      </form>
    </div>
    <!--/sign up form-->
  </div>
</div>