<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="{{image_path}}{{author.image}}" alt="image" />
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information" *ngIf="author">
                <!--/product-information-->
                <!-- <img src="assets/frontend/images/product-details/new.jpg" class="newarrival" alt="" /> -->
                <h2>{{author.name}}</h2>
                <p><b>Số lượng: </b>{{author.quantity}}</p>
                <p><b>Quốc tịch:</b> {{author.country}}</p>
                <p><b>Năm sinh:</b> {{author.birth_of_year}}</p>
                <p><b>Năm mất:</b> {{author.death_of_year}}</p>
                <p><b>Linkwiki:<a href="{{author.link_wiki}}">{{author.link_wiki}}</a></b></p>
                <!-- <a href=""><img src="assets/frontend/images/product-details/share.png"
                        class="share img-responsive" alt="" /></a> -->
            </div>
            <!--/product-information-->
        </div>
    </div>
    <!--/product-details-->
    <div class="recommended_items">
        <h2 class="title text-center">SÁCH CỦA TÁC GIẢ</h2>

        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" *ngFor="let item of books |paginate : {
                    itemsPerPage: 3, currentPage: p
                 }
                 ">
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{image_path}}{{item.image}}" alt="" style="width: 100px; height: 148px;" />
                                    <h4 style="color: #FE980F;">{{item.price}} VNG</h4>
                                    <p class="book-name"><a class="click" (click)="goBookDetail(item.id!)">{{item.name}}</a></p>
                                    <button type="button" class="btn add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>
            </div>
        </div>
    </div>
</div>