<section class="content-header">
  <h1>
    Add author
  </h1>
  <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data tables</li>
  </ol> -->
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Author Infomation</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form" [formGroup]="createAuthorForm" (ngSubmit)="createAuthor()">
          <div class="box-body">

            <!-- name -->
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="alert alert-danger"
              *ngIf="createAuthorForm.controls.name?.errors?.required && createAuthorForm.controls.name?.touched">
              this field is required !
            </div>

            <!-- country -->
            <div class="form-group">
              <label for="exampleInputEmail1">Country</label>
              <input formControlName="country" type="text" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="alert alert-danger"
              *ngIf="createAuthorForm.controls.country?.errors?.required && createAuthorForm.controls.country?.touched">
              this field is required !
            </div>

            <!-- birth_death -->
            <div class="form-group">
              <label for="exampleInputPassword1">Birth - Death</label>
              <input formControlName="birth_death" type="text" class="form-control" id="exampleInputPassword1"
                placeholder="example: 1xxx-2xxx">
            </div>
            <div class="alert alert-danger"
              *ngIf="createAuthorForm.controls.birth_death?.errors?.required && createAuthorForm.controls.birth_death?.touched">
              this field is required !
            </div>

            <!-- image -->
            <div class="form-group">
              <label for="exampleInputFile">Image</label>
              <input formControlName="image" type="file" (change)=(onImageChange($event)) id="exampleInputFile">
            </div>
            <div class="alert alert-danger"
              *ngIf="createAuthorForm.controls.image?.errors?.required && createAuthorForm.controls.image?.touched">
              this field is required !
            </div>
            <div *ngIf="imgFile">
              <img [src]="imgFile" style="width:150px; height:200px">
            </div>
            <!-- textarea -->
            <div class="form-group">
              <label>Link wikipedia</label>
              <textarea formControlName="link_wiki" class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>
            <div class="alert alert-danger"
              *ngIf="createAuthorForm.controls.link_wiki?.errors?.required && createAuthorForm.controls.link_wiki?.touched">
              this field is required !
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn-sm btn-success" [disabled]="!createAuthorForm.valid">Submit</button>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (left) -->
  </div> <!-- /.row -->
</section>