
<div class="wrapper skin-black">

    <header class="main-header">
        <a class="logo"><b>Books</b>SHOP</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a> -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/backend/dist/img/anh-nhom.jpg" class="user-image" alt="User Image" />
                            <span class="">{{user_name}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/assets/backend/dist/img/anh-nhom.jpg" class="img-circle"
                                    alt="User Image" />
                                <p>
                                    Forbidden - Web Developer
                                    <small>Member since May. 2021</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn-sm btn-info btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a (click) = "adminLogout()" class="btn-sm  btn-danger btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/assets/backend/dist/img/anh-nhom.jpg" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>Forbidden</p>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header"><span style="font-size: 16px; color: #fff;">QUẢN LÝ</span> </li>

                <!-- manager books -->
                <li class="treeview" [class]= "isDropBookList ? 'active' : ''">
                    <a (click) = "dropBookList()">
                        <i class="fa fa-dashboard"></i> <span>Quản lý sách</span> <i
                            class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a [routerLink] = "['book-list']" ><i class="fa fa-circle-o"></i>Sách</a></li>
                        <li><a [routerLink] = "['author-list']" ><i class="fa fa-circle-o"></i>Tác giả</a></li>
                        <li><a [routerLink] = "['category-list']" ><i class="fa fa-circle-o"></i>Thể loại</a></li>
                        <li><a ><i class="fa fa-circle-o"></i>Nhà xuất bản</a></li>
                    </ul>
                </li>

                <!-- manager users -->
                <!-- <li class="treeview" [class]= "isDropSidebar ? 'active' : ''">
                    <a (click) = "dropUserList()">
                        <i class="fa fa-dashboard"></i> <span>Users Manager</span> <i
                            class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="../../index.html"><i class="fa fa-circle-o"></i> Users</a></li>
                    </ul>
                </li> -->
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
</div><!-- ./wrapper -->