<section class="content-header">
    <h1>
        Cập nhật tác giả
    </h1>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header" style="text-align: center;">
                    <h3>Thông tin tác giả</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" [formGroup]="updateAuthorForm" (ngSubmit)="updateAuthor()"
                    enctype="multipart/form-data">
                    <div class="box-body col-md-12">

                        <div class="col-md-12" style="padding-top: 25px;">
                            <!-- name -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên</label>
                                    <input formControlName="name" type="text" class="form-control"
                                        id="exampleInputEmail1">
                                </div>
                                <div *ngIf="name?.invalid && (name!.dirty || name!.touched)" class="alert alert-danger">
                                    <div *ngIf="name!.errors!.required">
                                        Tên không được để trống!
                                    </div>
                                </div>
                            </div>

                            <!-- country -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Quốc tịch</label>
                                    <input formControlName="country" type="text" class="form-control"
                                        id="exampleInputEmail1">
                                </div>
                                <div *ngIf="country?.invalid && (country!.dirty || country!.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="country!.errors!.required">
                                        Quốc tịch không được để trống!
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <!-- birth_death -->
                            <div class="col-md-6">
                                <!-- image -->
                                <div class="form-group">
                                    <label for="exampleInputFile">Hình ảnh</label>
                                    <input formControlName="image" type="file" (change)=(onImageChange($event))
                                        id="exampleInputFile" accept="image/x-png,image/jpeg">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Năm sinh</label>
                                    <input formControlName="birth_of_year" type="text" class="form-control"
                                        id="exampleInputPassword1" placeholder="VD: 1xxx-2xxx">
                                </div>
                                <!-- <div *ngIf="birth_of_year!.invalid && (birth_of_year!.dirty || birth_of_year!.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="birth_of_year!.errors!.required">
                                        Năm sinh không được để trống!
                                    </div>
                                    <div *ngIf="birth_of_year!.errors!.pattern">
                                        Năm sinh sai định dạng (VD: 1xxx)!
                                    </div>
                                </div> -->
                            </div>


                            <div class="col-md-6 form-group" style="margin-top: 15px;">
                                <div class="form-group" *ngIf="isShowOleImage">
                                    <img src="{{image_path}}{{author.image}}" alt="image" height="100px">
                                </div>
                                <div class="form-group" *ngIf="imgSrc">
                                    <img [src]="imgSrc" height="100px">
                                </div>
                            </div>
                        </div>


                        <!-- textarea -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Năm mất</label>
                                    <input formControlName="death_of_year" type="text" class="form-control"
                                        id="exampleInputPassword1" placeholder="VD: 1xxx-2xxx">
                                        <!-- <div *ngIf="death_of_year!.invalid && (death_of_year!.dirty || death_of_year!.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="death_of_year!.errors!.required">
                                            Năm mất không được để trống!
                                        </div>
                                        <div *ngIf="death_of_year!.errors!.pattern">
                                            Năm mất sai định dạng (VD: 1xxx)!
                                        </div>
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <label>Đường dẫn Wikipedia</label>
                                    <textarea formControlName="link_wiki" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div style="margin-left: 30px;">
                            <button type="submit" class="btn btn-success" [disabled]="!updateAuthorForm.valid"> Cập nhập
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div> <!-- /.row -->
</section>