<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh mục tác giả
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- data -->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-md-3">
                        <!-- search form -->
                        <nav class="navbar navbar-light bg-light">
                            <div class="form-inline">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="margin-top: 15px;">
                                        <input type="text" name="p" class="form-control" placeholder="Tìm kiếm tác giả" aria-label="search" (change) = "searchAuthor($event)" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <!-- /.search form -->
                    </div>
                    <div class="col-md-9">
                        <a class="btn-sm btn-success btn-flat" style="float: right;margin-top: 15px;"
                            [routerLink]="['../author-add']">Thêm tác giả</a>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Năm sinh</th>
                                <th>Năm mất</th>
                                <th>Số lượng sách</th>
                                <th>Hình ảnh</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let author of authors | paginate : {
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: count
                            }; index as i
                            ">
                                <td>{{i+1}}</td>
                                <td><a [routerLink]="['../author-detail', author.id]" routerLinkActive="active">{{author.name}}</a></td>
                                <td>{{author.birth_of_year}}</td>
                                <td>{{author.death_of_year}}</td>
                                <td>{{author.quantity}}</td>
                                <td><img src="{{image_path}}{{author.image}}" alt="image" height="32px"></td>
                                <td>
                                    <div style="display: inline-flex;width:100%; justify-content: space-around;">
                                        <div>
                                            <a class="text-primary" [routerLink] = "['../author-edit/'+author.id]"><i class="fa fa-edit"></i></a>
                                        </div>
                                        <div>
                                            <a class="text-danger" (click) = "deleteAuthor(author['id'],author['name'])" ><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Năm sinh</th>
                                <th>Năm mất</th>
                                <th>Số lượng sách</th>
                                <th>Hình ảnh</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- pagination -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="content-header main-header navbar-right">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                    <!-- pagination -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->