.product-information span span {
    color: #FE980F;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 0px;
    display: 0;
}
.click{
   cursor: pointer;
}

p{
    font-size: 16px !important;
    color: black;
}
